@import "{{ site.theme }}";

a {
    color: #87a7be;
}

.howTILEd {
    background-color: #0a4271;
    color: #87a7be;
    border: 1px solid black;
    padding: 1em 1em 0 1em;
    margin-bottom: 1em;

    strong {
        color: #87a7be;
    }
}