---
# empty yaml block
...

@import "{{ site.theme }}";

.wrapper {
    width: 1024px; // was 860 px
}

section {
    width: 666px; // was 500 px
}

a {
    color: #87a7be;
}

footer, footer > h3 {
    color: #87a7be !important;
}

.howTILEd {
    border: 1px solid black;
    margin-bottom: 1em;
}

#metadata {
    margin-bottom: 0;
    padding-bottom: 1em !important;
}

.howTILEd, #metadata, #metadata + table {
    background-color: #0a4271;
    color: #87a7be;
    padding: 1em 1em 0 0;
    padding-left: 1em !important;
    strong {
        color: #87a7be;
    }
}

.highlight {
    font-size: 10pt;
}

.language-testdomaintile {
    // background-color: #cfc;
    background-color: #c8d9f7;
    display: block;
    padding: 1em;
}

.language-testruntile {
    // background-color: #ffe6e6;
    background-color: #c8d9f7; 
    display: block;
    padding: 1em;
}

.language-center {
    text-align: center;
}

.language-small {
    font-size: small;
}