---
# empty yaml block
...

@import "{{ site.theme }}";

a {
    color: #87a7be;
}

.howTILEd {
    border: 1px solid black;
    margin-bottom: 1em;
}

.howTILEd, #test-informed-learning-with-examples-aspects, #test-informed-learning-with-examples-aspects + p {
    background-color: #0a4271;
    color: #87a7be;
    padding: 1em 1em 0 0;
    strong {
        color: #87a7be;
    }
}

.wrapper {
    width: 1024px; // was 860 px
}

section {
    width: 666px; // was 500 px
}

.highlight {
    font-size: 10pt;
}